main img {
  width: 550px;
  height: 250px;
  margin: 30px; }
 

div h3 {
  color: #90592f;
  text-align: center; }

.btntitulo #8d5327 {
  color: titulo #8d5327; }

.btnsubtitulo #84534d {
  color: subtitulo #84534d; }

.btnparrafo #694b25 {
  color: parrafo #694b25; }

.btnbordes black {
  color: bordes black; }

.tituloprincipal {
  color: #9e6f35;
  border-color: bisque;
  text-align: center; }

.titulosegundario {
  color: #705a0f;
  text-align: center; }

.card__formulario {
  background-color: white;
  padding: 20px;
  width: 500px;
  margin-left: 100px;
  margin: 10px; }
  .card__formulario label {
    color: #4b3213; }
  .card__formulario legend {
    color: #802d00;
    text-align: center; }

.imgproductos, .imgproductos__pequenos {
  height: 400px;
  width: 400px;
  border-radius: 40px;
  margin: 20px; }

.imgproductos__pequenos {
  height: 300px;
  width: 300px; }

.medidastexto__principal {
  font-size: 20px;
  text-align: center; }

.medidastexto__parrafo {
  font-size: 20px;
  text-align: center; }
