.tituloprincipal{color: rgb(158, 111, 53); border-color: bisque; text-align: center;}

.titulosegundario{color: rgb(112, 90, 15); text-align: center;}

.card__formulario{background-color: white; padding: 20px; width: 300px; margin-left: 100px;
label{color: rgb(75, 50, 19);}
legend{color: rgb(128, 45, 0); text-align: center;}

}

