
main{
    img{width: $ancho-img-preguntas; height: $alto-img-preguntas;
    }
}

div{
h3{  color: $color-principal; text-align: center; }

p{color:$color-parrafo; width: 600px; height: 50px; font-size: $size-parrafo;}
}

