.imgproductos{
    height: 400px;
    width: 400px;
      border-radius: 40px;
       margin:20px}


.imgproductos__pequenos{
     @extend .imgproductos;
     height: 300px;
     width: 300px; }


    